Дневник органайзер с личной бухгалтерией.
Краткое описание: Хранит личные записи, напоминания, личные расходы и доходы. Статьи расходов и доходов различаются по виду. Вывод отчетов по структуре входного и выходного денежного потока.
Логически программу можно разделить на три части: дневник, органайзер, менеджер расходов и доходов. Дневник содержит записи, которые привязаны к датам. К одной дате может быть привязано несколько записей. Органайзер содержит напоминания о различных событиях. События различаются по видам: встречи, праздники, дни рождения и т.д. Каждое событие привязывается к конкретной дате и времени. Менеджер расходов и доходов содержит записи о расходах и доходах. Статьи расходов и доходов различаются по видам: различные источники заработка, расходы на еду, расходы на развлечения и т.д.
Программа должна, по запросу пользователя, выводить список невыполненных задач, список запланированных задач на диапазон дат, историю расходов и доходов за диапазон дат, строить график расходов и доходов.
Рабочая среда: Одиночный ПК.
База данных: Локальная база данных.
Данные для хранения: заметки дневника, напоминания, доходы и расходы.
Пользователи: широкий круг пользователей.
Информация, поступающая в базу: новые заметки, новые напоминания, новые расходы и доходы.
Отчеты: о доходах и расходах и их структуре за указанный период.
